

.barre-verte{
    width: 60px;
    height: 5px;
    background-color: rgb(9, 111, 94);
    margin: auto;
    
}

.title::before{
    content: "";
    background-color: green;
    width: 100px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    /* position: absolute; */
    /* top: 50px; */
}
.title::before{
    content: "";
    background-color: green;
    width: 100px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    /* position: absolute; */
    /* top: 50px; */
}